numpy~=2.0.2
scikit-learn~=1.6.1
matplotlib~=3.9.4
seaborn~=0.13.2
pandas~=2.2.3
tqdm~=4.67.1
spacy~=3.4.4
fuzzywuzzy~=0.18.0
setuptools~=78.1.1
transformers~=4.48.2
ujson~=5.10.0
rapidfuzz~=3.12.1
textdistance~=4.6.3
xgboost~=2.1.4
sentence-transformers~=3.4.1
umap-learn~=0.5.7
scipy~=1.13.1
datasets~=3.2.0
pytest~=8.3.5
openai~=1.66.3
beautifulsoup4~=4.13.3
typer~=0.7.0